html.theme-zone {
  --color-background: #222;
  --color-foreground: #ccc;
  --color-midground: #888;
  --color-light: #eee;
  --color-shade: #525252;
  --color-shadow: #181818;
}

html {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

#logo-square {
  fill: var(--color-shadow);
  stroke: var(--color-shade);
}

#logo-letter {
  fill: var(--color-shade);
}

#logo:hover {
  #logo-square {
    filter: brightness(1.4);
  }
  #logo-letter {
    filter: brightness(1.4);
  }
}

main {
  nav {
    background-color: var(--color-background);

    a {
      color: var(--color-midground);

      &:hover,
      &.active {
        color: var(--color-light) !important;
      }

      &:visited {
        color: var(--color-midground);
      }
    }
  }
}
h2 {
  color: var(--color-midground);

  b,
  i {
    color: var(--color-foreground);
  }
}

a,
button {
  background: inherit;
  color: inherit;
}

button:hover,
a:hover {
  color: var(--color-light);
}

a:visited {
  color: var(--color-midground);
}

article {
  textarea {
    background: inherit;
    color: inherit;
  }
}

/*
 * Effects
 */

details {
  box-shadow: 0.1rem 0.21rem 0.44rem inset rgb(5 5 5 / 34%);

  section {
    background-color: rgb(0 0 0 / 13%);
  }
}
